@import "tailwindcss";

@theme {
  /* font families */
  --font-sans: "National Park", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Crimson Pro", ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  /* colors */
  --color-primary: #f7f6f2;
  --color-olive: #5E6129;
  --color-cards: #EEE7C9;

  --shadow-cards: 0 8px 18px 6px #0C8DF675, 0 -4px 18px 6px #F4C30075;
}

html,
body {
  @apply bg-primary dark:bg-neutral-950;

  font-feature-settings: "case" 1;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
